{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetos.css' %}"/>

{% endblock style %}


{% block main %}

<div class="container">

    <h1> Projetos </h1>

    <div class="divRetangulos">

        {% for projetosS in projetos %}

            <div class="textoDentroDivRetangulos">

                <h3> <u> {{projetosS.nome_do_projeto}} </u> </h3>

                <br>
                <div>
                    {% load static %}
                    <img src="{{projetosS.imagem.url}}" alt="ERROR" >
                </div>
                <br><br>

                <p>
                    <span> Descrição: </span>
                    {{projetosS.descricao}}
                </p>

                <br><br>

                <p>
                    <span> Cadeira: </span> {{projetosS.cadeira}}
                </p>

                <br><br>

                <p>
                    <span> Ano de realização: </span> {{projetosS.ano_realizacao}}
                </p>

                <br><br>

                <p>
                    <span> Participantes: </span>
                        {% for pessoas in projetosS.participantes.all %}
                            <ol>
                                <ol class="tabNomes">➥ {{ pessoas }} </ol>
                            </ol>
                        {% endfor %}
                </p>

                <br>

                <p> <span> Download (or GitHub): <a href="{{projetosS.link_github}}" class="linkGitHub"> Click here </a> </span>  </p>

            </div>
        {% endfor %}

    </div>

    <h1> Trabalhos Finais de Curso (TFC)  </h1>

    <div class="divRetangulos">

        {% for tfcs in tfc %}

            <div class="textoDentroDivRetangulos">

                <h3> <u> {{tfcs.titulo}} </u> </h3>

                <br>
                <div>
                    {% load static %}
                    <img src="{{tfcs.imagem.url}}" alt="ERROR" >
                </div>
                <br><br>

                <p>
                    <span> Resumo: </span>
                    {{tfcs.resumo}}
                </p>

                <br><br>

                <p> <span> Relatório: <a href="{{tfcs.relatorio}}" class="linkGitHub"> Click here </a> </span>  </p>

                <br><br>

                <p>
                    <span> Ano de realização: </span> {{tfcs.ano}}
                </p>

                <br><br>

                <p>
                    <span> Autores: </span>
                        {% for tfc_autores in tfcs.autores.all %}
                            <ol>
                                <ol class="tabNomes">➥ {{ tfc_autores }} </ol>
                            </ol>
                        {% endfor %}
                </p>

                <br>

                <p>
                    <span> Orientadores: </span>
                        {% for tfc_orientadores in tfcs.orientadores.all %}
                            <ol>
                                <ol class="tabNomes">➥ {{ tfc_orientadores }} </ol>
                            </ol>
                        {% endfor %}
                </p>

                <br>

                <p> <span> GitHub: <a href="{{tfcs.link_github}}" class="linkGitHub"> Click here </a> </span>  </p>

                <br><br>
                {% if tfcs.link_video %}
                    <p> <span> Video: <a href="{{tfcs.link_video}}" class="linkGitHub"> Click here </a> </span>  </p>
                {% else %}
                <p> <span> Video: No video </span>  </p>
                {% end if%}
            </div>
        {% endfor %}
    </div>


</div>

{% endblock main %}
